<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
</head>
<body>
  <div id="chat-box"></div>
  <input type="text" id="message" placeholder="Digite sua mensagem...">
  <button id="send-button">Enviar</button>

  <script>
    const chatBox = document.getElementById('chat-box');
    const messageInput = document.getElementById('message');
    const sendButton = document.getElementById('send-button');

    const socket = io();

    socket.on('message', (data) => {
      const newMessage = document.createElement('p');
      newMessage.innerText = `${data.user}: ${data.message}`;
      chatBox.appendChild(newMessage);
    });

    sendButton.addEventListener('click', () => {
      const message = messageInput.value;
      const user = 'user@example.com'; // Substitua pelo e-mail do usuário

      socket.emit('message', { user, message });
      messageInput.value = '';
    });
  </script>
</body>
</html>
