<h1>Cart</h1>
<div>
    {{#each cart.products}}
        <div>
            <h2>{{this.productId.title}}</h2>
            <p>Price: {{this.productId.price}}</p>
            <p>Quantity: {{this.quantity}}</p>
        </div>
    {{/each}}
</div>
